
 @using Data.CharacterModels
 
    


    @if (Prams != null)
    {
    <div class="flex items-center p-3 rounded-lg bg-dark-800 hover:bg-dark-600 cursor-pointer transition @(Prams.DataBuild.IsSelected ? "selected-Prams" : "")">
        <img src="@Prams.DataBuild.Image" alt="@Prams.DataBuild.Name" class="w-12 h-12 rounded-full object-cover mr-3">
        <div>
            <h4 class="font-medium text-white">@Prams.DataBuild.Name</h4>
            <p class="text-sm text-gray-400">@Prams.DataBuild.Description</p>
        </div>
    </div>
    }
        
    
        
  
@code {

    [Parameter] public ListUnifiedProjectModul? Prams { get; set; }
}
