@using LAHJA.Data.UI.Components.Base
@using dApp.Spectral

@inherits StyleListDataVolumevoice



 @if (Prams != null)
{
    <div class="@ClassContainer">
    <label class="@ClassItem">@Prams.DataBuild.Name</label>

        <select id="fftSize" class="@ClassSelect"
            @bind="@Prams.DataBuild.SelectedValue">
        @foreach (var size in Prams.DataBuild.Sizes)
    {
        <option class="@ClassIcon"  value="@size">@size</option>
    }
</select>
</div>
}
@code {
    [Parameter] public ListDataVolumevoice? Prams { get; set; }


    protected override async void OnInitialized()
    {
       // var classes = ListDataVolumevoice.CLASSES;
        await UpdateStyleAsync(CLASSES);
        base.OnInitialized();
    }


   
    

   
    
}
@* // [Parameter]
    // public int SelectedValue { get; set; }

    // [Parameter]
    // public EventCallback<int> SelectedValueChanged { get; set; }

    // private List<int> Sizes { get; set; } = new() { 64, 128, 256, 512, 1024, 2048, 4096 };

    // protected override async Task OnParametersSetAsync()
    // {
    //     await SelectedValueChanged.InvokeAsync(SelectedValue);
    // } *@